<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
	<meta charset="UTF-8" />
	<title>Example of Loop </title>
</head>
<body>
	<h1>Going to traverse elements in collection ...</h1>
	<h1 th:text="${names}"></h1>
	
	<ul>
		<li th:each="n,status : ${names}">
			<span th:style="${status.odd} ? 'font-weight:bold; color:red;' : '' " th:text="${status.index}+''+${n}"></span>
		</li>
	</ul>
	<!-- this keywords can be used with status in th:each  -->
	<!-- index,count,size,even/odd,first,last -->
</body>
</html>